.profile__info {
  height: 36vh;
  width: 37vw;
  background-color: #5746ea;
  display: flex;
  border-radius: 1vw;
  margin: 1vh 1vw;
}

#avatar {
  height: 95%;
  width: 150%;
  margin: 4px 5px;
  position: relative;
  top: 1vh;
}

.profile__info__details {
  width: 90%;
  color: white;
  margin: 15px 5px;
  text-align: left;
  position: relative;
  left: 15%;
}

.profile__info__details__name > span {
  font-size: 1.2rem;
  margin: 5px 0;
}

.profile__info__details__email > span {
  font-size: 1.2rem;
  margin: 5px 0;
}

.profile__info__details__username > span {
  font-size: 2.5rem;
  margin: 5px 0;
}

.profile__info__cards__title {
  display: flex;
  gap: 2px;
  align-items: center;
  color: white;
  margin: 1px 1px;
  padding: 0 2px;
  text-align: left;
  border: 2px solid black;
  border-radius: 1vh;
  width: fit-content;
}

.profile__info__cards__title > span {
  font-size: 15px;
  color: black;
}

.profile__info__cards__title > h3 {
  font-size: 1rem;
  padding: 1px 1px;
  margin: 1px;
}

.profile__info__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20vw;
  gap: 2px;
  margin: 2px 2px;
}
