.box {
  height: 23vh;
  width: 12vw;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
}

.box__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
}

#box__image {
  height: 12vh;
  width: 11vw;
  margin-top: 1rem;
}

.selected {
  border: 3px solid #11b800;
}
