.parent {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.left {
  flex: 1 2 auto;
  display: flex;
  flex-direction: column;
  gap: 60vh;
  justify-content: space-evenly;
}

.left-top-content {
  color: white;
  display: flex;
}

.left-top-content > div > span {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 2rem;
}

#login {
  font-size: 2.2vh;
  height: 2rem;
  width: 5rem;
  font-weight: 700;
  margin-left: 2rem;
  color: white;
  background-color: #72db73;
  border-radius: 20px;
  border: none;
}

.left-bottom-content {
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 3vw;
  font-weight: 700;
  color: white;
  display: flex;
}

.right {
  padding-top: 3rem;
  flex: 2 1 auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: white;
}

img {
  height: 8vh;
  width: 15vw;
}

.top-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  height: 30vh;
}

div > span {
  font-size: 1.5rem;
  font-weight: 500;
}
.line {
  width: 22px;
  height: 1px;
  background-color: #72db73;
  transform: rotate(90deg);
  margin: 0.8rem 2rem;
}

.top-content-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

input {
  width: 20rem;
  height: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #72db73;
  background-color: #1e1e1e;
}

.check {
  width: 21rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#checkbox {
  width: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  margin: 0;
}

.checkbox-content {
  font-size: 2vh;
  font-weight: 400;
  color: #7C7C7C;
}

.bottom-content {
  width: 20rem;
  height: 1.7rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 1rem;
  align-items: center;
  height: 30vh;
  font-size: 1vh;
}

.bottom-content > span {
  font-size: 1.8vh;
  font-weight: 400;
  color: #7C7C7C;
  text-align: left;
}

#green-text {
  color: #72db73;
}

#signup {
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: #72db73;
}
