.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
  margin: 0 1vw;
}

textarea {
  width: 100%;
  height: 50vh;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1px;
  background-color: orange;
  border-radius: 0 0 1rem 1rem;
  resize: none;
}

.text__line {
  height: 20px;
  width: 90%;
  color: white;
}

.notes__icon {
  height: 4.5rem;
  width: 4.5rem;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 8vw;
  bottom: 2vh;
}

.notes__icon > img {
  position: relative;
  top: 1.5vh;
  height: 60%;
  width: 60%;
}
